{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Sign Out" %}
{% endblock head_title %}
{% block inner %}

  <h1>{% translate "Sign Out" %}</h1>
  <div class="card card-body mt-3">
    <p>{% translate "Are you sure you want to sign out?" %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="btn-group" role="group">
        <button class="btn btn-danger" type="submit">{% translate "Sign Out" %}</button>
        <a class="btn btn-secondary" href="/">{% translate "Cancel" %}</a>
      </div>
    </form>
  </div>
{% endblock inner %}
